<div class="prototype">
  <% if prototype.image.attached? %>
    <%= link_to image_tag(prototype.image), prototype_path(prototype) %>
  <% end %>
  <h2><%= link_to prototype.name, prototype_path(prototype) %></h2>
  <p><%= prototype.catch_copy %></p>
  <p>投稿者: <%= link_to prototype.user.name, user_path(prototype.user) %></p>

  <% if params[:controller] != 'prototypes' && current_user == prototype.user %>
    <div class="prototype__manage">
      <%= link_to "編集する", edit_prototype_path(prototype), class: :prototype__btn %>
      <%= link_to "削除する", prototype, method: :delete, data: { confirm: "本当に削除しますか？" }, class: :prototype__btn %>
    </div>
  <% end %>
  <h3><%= prototype.title %></h3>
  <p><%= prototype.description %></p>
</div>